# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Configuración
config.ini
*.env

# Datos sensibles
data/*.xlsx
data/*.csv
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Selenium
*.log
geckodriver.log
chromedriver.log
